---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

**Vassar College** (Visiting Assistant Professor, Fall 2026–Present)

- Calculus II — Fall 2026 (2 sections)

**Kalamazoo College** (Visiting Assistant Professor, Fall 2024–Spring 2026)

- Abstract Algebra I — Spring 2026
- Linear Algebra — Fall 2025, Spring 2025
- Calculus III — Spring 2025
- Calculus II — Winter 2026, Spring 2026
- Calculus I with Review, Part 2 — Winter 2025 (2 sections), Winter 2026
- Calculus I with Review, Part 1 — Fall 2024 (2 sections), Fall 2025

**University of Colorado Boulder**

- MATH 1212: Data and Models (Instructor) — Summer 2024
- Linear Algebra for Non-Mathematics Majors (Graduate Part Time Instructor) — Spring 2023
- Calculus III (Instructor of Record) — Spring 2024
- Calculus II (Instructor of Record) — Fall 2021, Spring 2022
- Calculus I (Instructor of Record) — Fall 2020, Spring 2021

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
